#counter-display {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 16px;
}

button.addition{
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.addition{
  background-color: green;
  border-color: green;
  color: white;
}

button.subtract{
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.subtract{
  background-color: red;
  border-color: red;
  color: white;
}
